.title {
    margin: 0px 20px 0px 20px;
    line-height: 1.15;
    font-size: 2rem;
    font-style: normal;
    font-weight: 800;
    letter-spacing: -0.025em;
  }

p.description {
  padding: 20px 0px;
  display: inline-block;
  margin: 0px 20px 0px 20px;
  font-size: 18px;
  font-weight:lighter;
}

.name {
    margin: 0px 20px 0px 20px;
    line-height: 1.15;
    font-size: 2rem;
    font-style: normal;
    text-transform: capitalize;
    font-weight: 800;
    letter-spacing: -0.025em;
  }

  a.pokemon {
    color: rgb(20, 71, 118);
    padding: 20px 0px;
    text-transform: uppercase;
    display: inline-block;
    margin: 0px 20px 0px 20px;
    font-size: 17px;
    font-weight: bold;
  }
